.navbar-custom .navbar-nav .nav-item {
    text-transform: none;
}

.navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
    font-weight: lighter;
}

@media (min-width: 768px) {
    .navbar-custom.top-nav-regular .avatar-container {
        width: 9rem;
    }

    .navbar-custom .navbar-brand-logo img {
        height: 5.5rem;
    }
}

.intro-header {
    padding-top: 20px;
}

img[src*="#thumbnail"] {
    float: left;
    margin-right: 10px;
    max-height: 340px;
}
